<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les chouquettes blanches</title>
</head>
<body>
    <div style="
            padding: 30px;
            max-width: 500px;
            margin-right: auto;
            margin-left: auto;
        ">
        {{>header}}
        {{{body}}}
        {{>footer}}
    </div>
</body>
</html>