<footer
  style='min-height: 50px;
            background-color: rgba(199, 155, 96, 0.7);
            text-align: center;'
>
  <hr />
  <a href='https://www.leschouquettesblanches.com/staff' target='_blank'>
    Copyright © Les chouquettes blanches 2023
  </a>
</footer>